:root {
    --main_color: #5680E9;
    --second_color: #DCE9FF;

    --grey_color: #CDCDCD;
    --black_color: #000000;
    --white_color: #fff;
    --graphite_color: #3A3F45;
    --yellow_color: #FEFFCA;
    --red_color: #E45B5B;
    --green_color: #ABFFBE;
    --purple_color: #9c27b0;
    --orange_color: #ffedd5 ;

    --dark-blue_color: #001067;
    --dark-graphite_color: #2F343A;
    --dark-green_color: #22C55E;
    --dark-red_color: red;
    --dark-yellow_color: #FFCC00;
    --dark-orange_color: #ea580c;

    --light-bg_color: #EEF3F8;
    --light-red_color: #FFB6B6;
    --light-purple_color:#f3e8ff;
}