.logo {
    display: flex;
    align-items: center;
    &__text {
        text-transform: uppercase;
        color: var(--white_color);
        font-weight: var(--bold_weight);
        margin-left: 15px;
        letter-spacing: 0.2rem;
    }
}
.menu {
    display: none;
    transition: var(--normal_transition);
    transform: rotate(90deg);
}
.rotate {
    transform: rotate(-90deg) !important;
}

// Media Queries
@media screen and (max-width: 1024px) {
    .logo__icon {
        display: none;
    }
    .menu {
        display: block;
        color: var(--white_color);
        &:hover {
            color: var(--main_color);
        }
    }
}