.pageContainer {
    td {
        font-weight: var(--medium_weight);
    }
    & *> td > span {
        color: var(--main_color);
        font-weight: var(--medium_weight);
    }
    & > div > div > div {
        margin-left: unset !important
    }
}
.icon {
    cursor: pointer;
    color: var(--grey_color);
    transition: var(--normal_transition);
    &:hover {
        color: var(--main_color);
    }
}
.saved {
    color: var(--dark-yellow_color);
}