.wrapper {
    padding: 0 30px;  
    padding-bottom: 80px;
}
.main {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

// Media Queries 
@media screen and (max-width: 768px) {
    .wrapper {
        padding: 0 20px;
    }
    .main {
        margin: 20px 0 0 0;
    }
}
