:root {
    --main_font: 'Montserrat', sans-serif;
    --second_font: 'Inter', serif;

    --normal_size: 1rem;
    --tiny_size: 0.8rem;
    --subtitle_size: 1.3rem;
    --title_size: 1.5rem;
    --main-title_size: 2rem;
    --huge_size: 3rem;

    --normal_weight: 400;
    --medium_weight: 500;
    --semibold_weight: 600;
    --bold_weight: 700;
    --black_weight: 800;
}